/* Include General Styles */
@import url('styles.css');

/* Specific styles for admin dashboard */
h1 {
    margin-bottom: 20px;
}

h2 {
    margin-top: 40px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: #e1f5fe;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
